# Send Email Verification

You can use one of the following ways to send email verification to your users:

 - [`useSendEmailVerification` hook](../hooks/useSendEmailVerification.md)